@media screen and (min-width: 992px){
    h1 {
        font-size: 34px !important;
    }

    h2 {
        font-size: 27px !important;
    }

    h3{
        font-size: 23px !important;
    }

    p{
        font-size: 16px;
    }
}

@media screen and (max-width: 991px){
    h1{
        font-size: 40px !important;
    }

    h2 {
        font-size: 30px !important;
    }

    h3{
        font-size: 28px !important;
    }

    p{
        font-size: 22px;
    }
}


*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(77, 71, 71);
    height: 8%;
    width: 100%;
}

.sticky {
  position: fixed;
  height: 8%;
  top: 0;
  width: 100%;
  background-color: rgb(77, 71, 71);
  z-index: 1;
}

.logo-wrapper {
    height: 0%;
    width: 10%;
}

.main-wrapper h1{
    text-align: center;
}

.header-content {
    color: white;
    height: 100%;
    margin-left: 15%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  margin-top: .5rem;
  align-items: center;
  justify-content: space-between;


  color: #fff;
}

.nav-links {
  width: 95%;
}

.nav-links a {
  color: #fff;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: gold;
  color: darkblue;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input[type=checkbox]{
  display: none;
}

.hamburger {
  display: none;
  margin-top: 0.35rem;
  font-size: 24px;
  user-select: none;
  margin-left: 100%;
}

@media (max-width: 1360px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(77, 71, 71);
    color: #fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: gold;
    color: darkblue;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {

    display: block;

  }

  .hamburger {
    display: block;
  }
}


.leistung-wrapper {
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%)
}

.leistung-wrapper h2{
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    margin: 0 auto;
}

.leistung-wrapper h3{
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.leistung-wrapper p{
    width: 70%;
    margin-bottom: 1%;
    margin: 0 auto;
}

.produkt-wrapper{
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%);
    margin: 0 auto;
}

.produkt-wrapper img {
    margin-bottom: 10px;
}

.produkt-wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.produkt-wrapper h3{
    text-align: center;
}

.Referenzprojekte h3{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.produkt {
    width: 31%;
    float: left;
    border: 2px solid black;
    margin: 1%;
    text-align: justify;
    height: 400px;
}

.produkt h4{
    margin-bottom: 5%;
}

.Referenzprojekte {
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%);
}

.Referenzprojekte h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%;
    margin: 1% auto;
}

.projekt {
    margin-bottom: 10px;
    width: 70%;
    margin: 0 auto;
}

.Projekt h3{
    margin:  auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 70%;
}

.Projekt p{
    margin-bottom: 1%;
    width: 70%;
    margin: 0 auto;
}

.News-Farbverlauf {
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%);
}

.Kontaktformular-Background {
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%);
}

.News-Bereich {
    width: 70%;
    margin: 0 auto;
}

.News-Bereich h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.News-Bereich img{
    margin-bottom: 15px;
}

.news h3 {
    margin-bottom: 0.5%;
}

.news p {
    margin-bottom: 1%;
}

.footer {
    width: 70%;
    margin: 0 auto;
}

.svg-animation-container {
	width: 65 px;
    height: 60 px;
}

.svg-animation-container > svg {
	width: 100%;

}

#underunderleft {
	animation: blink 2s infinite alternate ease-in-out;
}

#underrightright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperupperright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperleftleft {
	animation: blink 2s infinite alternate ease-in-out;
}

#underleftleft {
	animation: blink 2s infinite alternate ease-in-out;
}

#underunderright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperrightright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperupperleft {
	animation: blink 2s infinite alternate ease-in-out;
}



@keyframes blink {
	0% {
		transform: translate3d(0,0,0);
		opacity: 1;
	  }
	50% {
	  	transform: translate3d(0,20,20);
	  	opacity: 0.5;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}



.Kontaktformular { max-width:500px; margin: auto; }

.Kontaktformular h2{
    margin-top: 50px;
}

.Kontaktformular button{
    margin-bottom: 50px;
}

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid grey;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid orange; }

textarea {
  height: 200px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:grey;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:orange; }



.modal-header{
    text-align: center;
    margin: 2% auto;
}
.modal-body{
    text-align: center;
   margin: 2% auto;
}
