*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(77, 71, 71);
    height: 8%;
    width: 100%;
}

.logo-wrapper {
    height: 0%; 
    width: 10%;
}

.main-wrapper h1{
    text-align: center;
}

.header-content {
    color: white;
    height: 100%;
    margin-left: 15%;
}

.nav-list li {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-right: 5%;
    height: 100%;
}

.nav-list span {
    height: 100%;
    display: grid;
    align-items: center;
}

nav ul {
    list-style: none; 	  
    width: 10em;
  }
  nav li[aria-current] a {
	background-color: darkblue; 
    color: gold;
}
  nav a {
    display: block;
      padding: 0.4em;
      text-decoration: none; 
      font-weight: bold;
      box-shadow: 0 5px 10px ;
      color: gold; 
      transition: all .25s ease-in;	  
  }

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {    
  color: darkblue; 
  background-color: gold;
  }

.leistung-wrapper {
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%)
}

.leistung-wrapper h2{
    width: 70%;
    margin-top: 1.5%;
    text-align: center;
    margin-bottom: 1%;
    margin: 0 auto;
}

.leistung-wrapper h3{
    width: 70%;
    margin-bottom: 0.5%;
    margin: 0 auto;
}

.leistung-wrapper p{
    width: 70%;
    margin-bottom: 1%;
    margin: 0 auto;
}

.produkt-wrapper{
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%);
    margin: 0 auto;
}

.produkt-wrapper img {
    margin-bottom: 10px;
}

.produkt-wrapper h2{
    text-align: center;
    margin-bottom: 1%;
}

.produkt-wrapper h3{
    text-align: center;
}

.Referenzprojekte h3{
    text-align: center;
    margin: 1%;
}

.produkt {
    width: 31%;
    float: left;
    border: 2px solid black;
    margin: 1%;
    text-align: justify;
    height: 400px;
}

.produkt h4{
    margin-bottom: 5%;
}

.Referenzprojekte {
    background-image: linear-gradient(to bottom, white 0%, #F2F2F2 70%);
}

.Referenzprojekte h2 {
    text-align: center;
    margin-bottom: 1%;
    width: 70%;
    margin: 1% auto;
}

.projekt {
    margin-bottom: 10px;
    width: 70%;
    margin: 0 auto;
}

.Projekt h3{
    margin-bottom: 0.5%;
    width: 70%;
    margin:  auto;
}

.Projekt p{
    margin-bottom: 1%;
    width: 70%;
    margin: 0 auto;
}

.News-Bereich {
    width: 70%;
    margin: 0 auto;
}

.News-Bereich h2 {
    text-align: center;
    margin-bottom: 1%;
}

.News-Bereich img{
    margin-bottom: 15px;
}

.news h3 {
    margin-bottom: 0.5%;
}

.news p {
    margin-bottom: 1%;
}

.footer {
    width: 70%;
    margin: 0 auto;
}

.svg-animation-container {
	width: 65 px;
    height: 60 px;
}

.svg-animation-container > svg {
	width: 100%;

}

#underunderleft {
	animation: blink 2s infinite alternate ease-in-out;
}

#underrightright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperupperright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperleftleft {
	animation: blink 2s infinite alternate ease-in-out;
}

#underleftleft {
	animation: blink 2s infinite alternate ease-in-out;
}

#underunderright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperrightright {
	animation: blink 2s infinite alternate ease-in-out;
}

#upperupperleft {
	animation: blink 2s infinite alternate ease-in-out;
}



@keyframes blink {
	0% {
		transform: translate3d(0,0,0);
		opacity: 1;
	  }
	50% {
	  	transform: translate3d(0,20,20);
	  	opacity: 0.5;
	}  
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;	
	}
}



form { max-width:500px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid grey;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid orange; }

textarea {
  height: 200px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:grey;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:orange; }